<div class="page-header">
    <h1><i class="fa fa-binoculars" aria-hidden="true"></i> <small>What is this?</small></h1>
</div>

<p class="lead">
This site can capture the JSON payloads produced by <code>gaze</code> (see <a href="https://github.com/AstromechZA/gaze">here</a>) and display
them while allowing nice paginated and searchable lists of the results.
</p><p class="lead">
Browse the currently captured records here: <a href="/reports">/reports</a>
</p>

<h3>API:</h3>
<p>
The api this site allows is very simple: a single http POST endpoint.
</p>
<p>
Send a POST request to the <code>/reports</code> url path with a JSON body that looks like the following:

<pre>
{
  "name": "date",
  "command": [
    "date"
  ],
  "hostname": "MacBook-Pro.local",
  "exit_code": 0,
  "exit_description": "Execution finished with no error",
  "start_time": "2017-01-01T13:34:24.61348226-03:00",
  "end_time": "2017-01-01T13:34:24.617469933-03:00",
  "elapsed_seconds": 0.00398649,
  "captured_output": "Sun Jan  1 13:34:24 UYT 2017\n",
  "tags": [
    "tagA",
    "tagB"
  ]
}
</pre>
</p>
